.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0;

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: calc(var(--app-content-max-width) + 3rem);
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  &__menu-button {
    margin-left: -8px;
    margin-right: 1rem;
  }

  &__spacer {
    flex: 1 1 auto;
  }
}

.app-content {
  display: block;
}